<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Accounts:</p>
<tbody>
<tr th:if="${accounts.empty}">
    <td colspan="2"> No Accounts Available</td>
</tr>
<tr th:each="account : ${accounts}">
    <td> Id = <span th:text="${account.id}"></span></td><br>
    <td> Amount = <span th:text="${account.amount}"></span></td><br>
    <td> UserId = <span th:text="${account.userId}"></span></td><br><br>
</tr>
</tbody>

<br><br>
<p>Transactional outbox:</p>
<tbody>
<tr th:if="${outboxes.empty}">
    <td colspan="2"> No Outbox Available</td>
</tr>
<tr th:each="outbox : ${outboxes}">
    <td> Id = <span th:text="${outbox.id}"></span></td><br>
    <td> orderId = <span th:text="${outbox.orderId}"></span></td><br>
    <td> deliveryStatus = <span th:text="${outbox.deliveryStatus}"></span></td><br>
    <td> command = <span th:text="${outbox.command}"></span></td><br>
    <td> replyStatus = <span th:text="${outbox.replyStatus}"></span></td><br>
</tr>
</tbody>

</body>
</html>